<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Craftyfy Test Suite">

<!-- Payment Test -->
  <test name="Payment Test">
    <classes>
      <class name="testcases.PaymentTest"/>
    </classes>
  </test>

  <!-- Login Test -->
  <test name="Login Test">
    <classes>
      <class name="testcases.LoginTest"/>
    </classes>
  </test>

  

</suite>
